<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:include="common/header.html"></div>
    <h3>메뉴 수정</h3>
    <form action="/menu/modify" method="post">
        <label>수정할 메뉴 코드 : </label><input type="text" name="code"><br>
        <label>메뉴 이름 : </label><input type="text" name="name"><br>
        <label>메뉴 가격 : </label><input type="number" name="price"><br>
        <label>카테고리 코드 : </label>
        <select name="categoryCode" id="categoryCode"></select><br>
        <label>판매 상태 : </label>
        <select name="orderableStatus">
            <option value="Y">Y</option>
            <option value="N">N</option>
        </select><br>
        <input type="submit" value="수정">
    </form>
    <script>
        fetch("/menu/category")
            .then(res => res.json())
            .then(data => {
                const $categoryCode = document.getElementById("categoryCode");

                for (let index in data) {
                    const $option = document.createElement('option');
                    $option.value = data[index].code;
                    $option.text = data[index].name;

                    $categoryCode.appendChild($option);
                }
            });
    </script>

</body>
</html>