<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.crud.menu.model.dao.MenuMapper">

    <resultMap id="menuResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>

    <select id="findAllMenu" resultMap="menuResultMap">
        SELECT
                MENU_CODE
            ,   MENU_NAME
            ,   MENU_PRICE
            ,   CATEGORY_CODE
            ,   ORDERABLE_STATUS
        FROM    TBL_MENU
        WHERE   ORDERABLE_STATUS = 'Y'
        ORDER BY MENU_CODE
    </select>

    <select id="findAllCategory" resultMap="categoryResultMap">
        SELECT
                CATEGORY_CODE
            ,   CATEGORY_NAME
            ,   REF_CATEGORY_CODE
        FROM    TBL_CATEGORY
    </select>

    <insert id="registNewMenu" parameterType="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        INSERT INTO TBL_MENU
        (
            MENU_NAME
        ,   MENU_PRICE
        ,   CATEGORY_CODE
        ,   ORDERABLE_STATUS
        )
        VALUES
        (
            #{ name }
        ,   #{ price }
        ,   #{ categoryCode }
        ,   #{ orderableStatus }
        )
    </insert>

    <select id="findMenuCodeList" resultMap="menuResultMap">
        SELECT
                MENU_CODE
            ,   MENU_NAME
            ,   MENU_PRICE
            ,   CATEGORY_CODE
            ,   ORDERABLE_STATUS
        FROM    TBL_MENU
    </select>

    <update id="modifyMenu" parameterType="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        UPDATE TBL_MENU
        SET MENU_NAME = #{ name }
            , MENU_PRICE = #{ price }
            , CATEGORY_CODE = #{ categoryCode }
            , ORDERABLE_STATUS = #{ orderableStatus }
        WHERE MENU_CODE = #{ code }
    </update>

    <delete id="deleteMenu" parameterType="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        DELETE
        FROM TBL_MENU
        WHERE MENU_CODE = #{ code }
    </delete>
</mapper>